.connexionForm {
  display: flex;
  background-color: var(--bs-main-color);
  width: fit-content;
  height: 26vh;
  border-radius: 5%;
  margin: auto;
  margin-top: 20vh;
  height: 32vh;
  margin-bottom: -50VH;
}
