{% extends 'base.html.twig' %}

{% block title %}Mon Espace{% endblock %}

{% block body %}
<h1>Bienvenue dans Mon Espace</h1>
<img src="{{ asset('./images/Logo.png') }}" alt="Logo de Ecoride" width="200">
{% endblock %}
