/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Menu */
  .navbar {
    text-decoration: none;
  }

  #accueil, #trajets, #espace {
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  #accueil:hover, #trajets:hover, #espace:hover , #Contacs:hover {
    background-color: #19aea3;
    opacity: 0.8;
    height: 100%;
  }


/* Arrow rotation */
  #arrow :active{
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  #arrow {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }

